/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: Viga;
    font-size: 32px;  
    color: white !important;
}


/* JumboTron */

.jumbotron {
    background-image: url(img/banner.jpeg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
    margin-top: -76px;
    
}

.jumbotron .display-4 {
    color: white;
    margin-top: 150px;
    font-weight: 200;
    font-size: 42px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jumbotron .display-4 span {
    font-weight: 500;
    font-family: Viga;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom,rgba(0,0,0,1), rgba(0, 0, 0, 0));
}


/* info Panel */

.info-panel{
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -150px;
    background-color: white;
    padding: 10px;
}

.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p {
    font-size: 14px;
    color : #acacac;
}

.pnl-info {
    margin-top: 20px;
}


/* Working Space */

#work .title-work {
text-align: center;
font-size: 54px;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);

margin-top: 120px;
}


.workingspace {
    text-align: center;
    margin-top: 32px;
}

.workingspace h3 {
    font-size: 42px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 25px;
}

.workingspace h3 span {
    font-weight: 500;
}

.workingspace p {
    font-size: 18px;
    color: #acacac;
}



/* footer */

.footer {
    color: #acacac;
    font-size: 18px;
    margin-top: 45px;
    text-align: center;
}

.footer span.username {
    font-family: Viga;
}

.footer span.l {
    font-weight: bold;
}

/* Utility */

.btnCS {
    border-radius: 40px;
}

.btnBlock {
    border-radius: 0 !important;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0,5s;
}

.modal-active {
visibility: visible;
opacity: 1;
}

.modal-c {
    background-color: white;
    width: 50%;
    justify-content: center;
    
    border-radius: 2.5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    
    margin-left: 5%;
    margin-right: -25%;
    z-index: 3;

    
}
.modal-d{
    visibility: hidden;
    opacity: 0;
    margin-left: 0;
    justify-content: center;
    z-index: 3;
}

.modal-d h5 {
    text-align: center;
    margin-top: 3%;
}

.lang {
    margin-top: 1.2%;
}

.hr::after {
    content :'';
    display: block;
    border-bottom: 1px solid gray;
    width: 50%;
    margin: auto;
    margin-top: 1.5%;
}

.modal-c h4 {
    text-align: center;
    margin-top: 2%;
}

.modal-d .lang label {
    margin-top: -2%;
}



.js {
    background-color: #f1e05a !important;
}
.php {
    background-color: #4F5D95 !important;
}
.css {
    background-color: #563d7c !important;
}
.html {
    background-color: #e34c26 !important;
}
.modal-footer .btnChc {
    display: inline;
}
.att {
font-weight: bold;
}
.att span, .att span a {
    font-weight: normal;
    color: black;
}




/* DESKTOP Version */

@media (min-width: 992px) {

    /* Navbar */
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }


    /* .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    } */


    /* Jumbotron */

    .jumbotron{
        margin-top: -75px;
        height: 640px;
    }

    .jumbotron .display-4 {
    font-size: 62px;
    }


    /* working space */

    .workingspace {
        text-align: left;
    }

    /* modal */
    .modal-c{
        margin-right: 0;
      
    }


    .modal-d {
    border-radius: 2.5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);

    visibility: visible;
    opacity: 1;

    margin-left: 25px;
    background-color: white;
    width: 20%;
    height: 350px;
    }

}
